/* index.css — root-level reset only */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  color: #111827;
  /* 기본 글자색*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 모바일 */
@media (max-width: 768px) {

  .nav button {
    display: block;
    /* 버튼을 한 줄에 하나씩 배치 */
    margin-bottom: 12px;
    /* 버튼 아래쪽에 12px 간격 추가 */
    white-space: nowrap;
    /* 글씨를 강제로 한 줄로 유지 */
    width: fit-content;
    /* 버튼 너비를 글자 길이에 딱 맞춤 */
    padding: 10px 20px;
    /* 버튼 안쪽 여백을 주어 글자가 안 잘리게 함 */
  }

  .header {
    padding: 12px 16px;
  }

  .hero {
    /* 배경 이미지 섹션 */
    height: 40vh;
    /* ← 핵심 */
    min-height: 400px;
  }

  .hero-actionBtn {
    position: absolute;
    /* 부모를 기준으로 자유롭게 이동 */
    bottom: 30px;
    /* 바닥에서 50px 위로 */
    right: 30px;

    width: 120px;
    font-size: 13px;
    padding: 14px 0;
  }

  .detail p {
    font-size: 17px;
    line-height: 1.6;
    /* 줄 간격을 넓혀서 읽기 편하게 */
    white-space: normal;
    /* 본문은 자연스럽게 줄바꿈 되도록 설정 */
    word-break: keep-all;
    /* 한글 단어가 중간에 끊기지 않게 보호 */
    text-align: center;
    /* 글자 가운데 정렬 */
  }

  .detail {
    padding: 40px 20px;
    width: 90%;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .to-wrapper {
    margin: 20px 0 30px 0;
  }

  .sky-header {
    font-size: 10px;
  }

  .sky-header button {
    font-size: 10px;
    padding: 0.5rem 0.6rem;
  }

}