/* index.css — root-level reset only */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  color: #111827; /* 기본 글자색*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
